body {
    margin-top: 20px;
    color: #1A202C;
    text-align: left;
    background-color: #BCAAA4;
}

.main-body {
    padding: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .50rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.shadow-none {
    box-shadow: none !important;
}

.animated-width {
    width: 0%;
    -webkit-transition: width 2.5s ease;
    transition: width 2.5s ease;
}

.card-title {
    color: #5D4037;
}

.contact-list-group-item {
    padding: 0.5rem !important;
}

.inline-pictogram {
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.hoverable:hover {
    background-color: #BCAAA4;
    cursor: pointer;
    transition: 0.3s;
}